.middletron.mtIndustry
  .header
    =render 'layouts/main_menu'
  .wrapper
    .container
      %h1 Industrias y gobierno

.container.main.intPages
  .col-lg-6
  
    %h1.first Ahorro
    %p Con el contrato de compra de energía solar que ofrecemos - power purchase agreement - (PPA), tu negocio puede moverse a solar sin inversión alguna y ahorrar dinero desde el día de la instalación.

    %p Nosotros instalamos y mantenemos los equipos solares en tu techo. Con nuestro contrato PPA tu empresa sólo paga por la energía solar que se produce. 

    %p.bold Reducir costos de operación desde el primer día

    %p Desde el momento en que tu negocio empiece a producir energía solar PV, tu cuenta de electricidad va disminuir. Además, como se espera que las tarifas eléctricas sigan subiendo, tu ahorro irá en aumento.

    %p Ahora podrás rentabilizar áreas de tu techo en desuso, reduciendo la cuenta de la luz y estabilizando el precio que pagas por electricidad. Así explotas el potencial económico de tu techo a muy bajo costo!.

    %p.bold Precios competitivos asegurados

    %p Tenemos un acuerdo de colaboración con <a href="http://www.kaltemp.cl" target="_blank">Kaltemp</a>, primera empresa Chilena en instalar y operar una plata solar PV en el norte de Chile. Esto nos asegura una instalación de alta calidad y de bajo costo. Lo que a la vez nos permite ofrecer precios competitivos de energía.

    %p.bold Monitoreo continuo y en tiempo real

    %p Nuestras instalaciones permiten que tengas control sobre la producción y el consumo eléctrico de tu empresa. Ya no tienes que preocuparte por la inversión, instalación y mantención. Además ponemos a tu disposición este sistema que permite monitorear en forma continua la generación y consumo de energía de tu negocio.

    %p.bold.midWidth Contactate con nosotros.
    =image_tag "largeArrow.png", class:'pull-right mgTop70 hidden-xs largeArrow'


  .col-lg-6.intPages
    =render 'layouts/register_form'

.footerContent.intPages.hidden-xs
  =render 'layouts/footer_menu'

.intPages
  =render 'layouts/footer_mobile'

=render 'layouts/header'

