.middletron.mtIndustry
  .header
    =render 'layouts/main_menu'
  .wrapper
    .container
      %h1 Blog Solarity

.container.main.intPages
  .col-lg-6
  
    %h1.first Dejemos que el sol entre en nuestas casas
    %p El Ministro de Energía, Máximo Pacheco, visitó a la Comisión de Minería y Energía del Senado y sus palabras fueron, por decir lo menos, de mucha Potencia. En pocas palabras, la industria de la energía, electricidad y combustibles, debe cambiar. La estrechez en oferta y altos precios tienen a nuestro país en apuros. Como dijo, el escenario para los próximos años no será de “apagón”, sino que de “pagón”.  Dio señales claras por donde vienen los distintos frentes de trabajo para revertir esta situación:  Primero, mejorar el trabajo regulatorio de este ministerio como para, por ejemplo, introducir cambios en las licitaciones de distribuidoras de modo de aumentar la competencia y permitir la entrada de nuevos actores más pequeños. Segundo, buscarán agilizar la manera de conectar más ERNC (Energías Renovables No Convencionales) a la redes y de aumentar la eficiencia energética en todo nivel, desde residencial a industrial. Y tercero, buscarán traer más GNL (Gas Natural Licuado) desde Estados Unidos y algunos países vecinos, para bajar sus costos y romper los monopolios del gas.

    %p ¿Separemos la discusión? Está claro que se debe traer más GNL y más barato para bajar la cuenta del gas. Pero ¿por qué en la discusión eléctrica no invitamos expresamente a la fuente de energía que tenemos aquí y ahora, económica, y que nos asegura una independencia energética? La energía solar fotovoltaica. Si centramos demasiado la solución a nuestros problemas en traer más GNL desde Estados Unidos, Argentina (No aprendimos la lección) y Perú (No queremos imaginar otro conflicto limítrofe!) , es probable que bajen los precios de la electricidad pero, mantendremos muchos de los problemas que nos aquejan hoy: dependencia energética desde el exterior, exposición a problemas geopolíticos y volatilidad de precios, monopolios en el sector eléctrico, etc. 

    %p Como Solarity estamos convencidos que el suministro solar fotovoltaico tiene todos los atributos para aportar una mayor y mejor competencia, modernizar el mercado eléctrico, romper los monopolios y para entregar un ahorro inteligente a todos. La tecnología está, las competencias locales están. Solo falta, como muy bien dijo el Ministro, un poco de “pachorra” para destrabar su ingreso a nuestras casas e industrias. El Futuro solar es aquí y ahora.

    %p.bold Equipo Solarity


  .col-lg-6.intPages
    =render 'layouts/register_form'

.footerContent.intPages.hidden-xs
  =render 'layouts/footer_menu'

.intPages
  =render 'layouts/footer_mobile'

=render 'layouts/header'

