.middletron.mtIndustry
  .header
    =render 'layouts/main_menu'
  .wrapper
    .container
      %h1 Quienes Somos

.container.main.intPages
  .col-lg-6
  
    %h1.first Visión
    %p Solarity busca mejorar el acceso energías más limpias y baratas para la sociedad.

    %p Creemos que en algunos años, al menos un 30% de la generación eléctrica será solar. La mejor solución tiene que venir de la micro-generación distribuida, el tener grandes extensiones de terreno para poner paneles no será una opción valida. Nosotros queremos ser parte de está revolución y contribuir en dejar el planeta mejor que como lo encontramos.

    %p.bold Equipo

    %p.bold Horacio Melo
    %p Gerente General de Solarity. Fue parte del equipo de Start-Up Chile como director ejecutivo. Anteriormente trabajo en empresas como P&G y LAN Airlines. 

    %p.bold Jose Luis Carvallo
    %p Jose Luis es Gerente de Operaciones de Solarity. Anteriormente trabajo en diversas empresas de la industria tales como CGE y Energía Llaima. 

    %p.bold Samuel del Sol
    %p Gerente de Finanzas de Solarity. Samuel trabajo en Munita, Cruzat y Claro, lider en la industria financiera en Chile.

    %p.bold Inversionistas

    %p.bold Francisco Ariztia
    %p 

    %p.bold Christophe Lourmande
    %p

    %p.bold Cyril Meduña
    %p Cyril Meduña es el Managing Parter y presidente de Avent-Morro Equity Partners. Cyril fundó Advent-Morro Partners en el año 1989. Anteriormente fue presidente y fundador de Meduña & Co., Inc., broker/dealer local especilizata en finanzas corporativas y fusiones y adquisiciónes. Además trabajó 3 años como Regional Manager para Ehrlich Bober International, banco mercante regional. Antes de eso trabajó 4 años en el Banco Chase Manhattan en Puerto Rico y Nueva York. Cyril Meduña es Ingeniero Mecánico del Institito Politecnico Rensselaer y tiene un MBA de la Universidad George Washington.

    Mr. Cyril Meduña is Managing Partner/President of Advent‐Morro Equity Partners. 

He founded Advent‐Morro Equity Partners in 1989. Prior to Advent Morro, Mr. 

Meduña was President and founder of Meduña & Co., Inc., a local broker/dealer 

specialized in corporate finance and mergers and acquisitions. He also worked for 

three years as Regional Manager of Ehrlich Bober International, a regional merchant 

bank, and prior to that, for four years worked at the Chase Manhattan Bank in Puerto 

Rico and New York. Mr. Meduña holds a Bachelor of Science Degree in Mechanical 

Engineering from Rensselaer Polytechnic Institute and a MBA degree from George 

Washington University.

    %p.bold Cristián Sjögren
    %p

    %p.bold Cristóbal Undurraga
    %p Cristóbal Undurraga es actualmente el gerente de desarrollo de Ekonométrica, una firma de inversiones con foco en empresas medianas y miembro de distintas iniciativas que apoyan el emprendimiento y el diseño de políticas públicas. Undurraga ha trabajado en el gobierno de Chile (2010-2014) como director ejecutivo de InnovaChile, creando la gerencia de emprendimiento de Corfo y como coordinador general del Año de la Innovación. Actualmente es Director de la Asech, y anteriormente, trabajó en el desarrollo de tecnologías limpias en Calera Corporation (California), en Extend Comunicaciones y en elarea.com. Undurraga es ingeniero civil de la Universidad Católica de Chile y MBA de Stanford University.

    %p.bold Carlos Valdivieso
    %p Carlos Valdivieso actualmente es socio fundador de FREE. Fue socio y director de IM Trust, donde se desempeñó como director de Mercado de Capitales por más de 25 años. Además fue fundador y socio de Adviser Drilling, hoy Foraco S.A y asesor de varias empresas. Carlos es Ingeniero civil industrial de la Universidad Catolica de Chile.

  .col-lg-6.intPages
   
    .gallery
      .row
        =image_tag "gal_1.png"
        =image_tag "gal_2.png"
        =image_tag "gal_3.png"
        =image_tag "gal_4.png"
        =image_tag "gal_5.png"
      .row
        =image_tag "gal_6.png"
        =image_tag "gal_8.png"
        =image_tag "gal_9.png"
        =image_tag "gal_10.png"

.container.bigRegister
  .row
    .col-lg-6
      %h1 ¿Te interesa?
      %p.midWidth Llama a uno de nuestros consultores. Ellos responderán tus dudas. O si prefieres déjanos tus datos y te contactaremos.
      =image_tag "arrow.png", class:'pull-right mgTop70 hidden-xs'
    .col-lg-6.orange
      =render "layouts/just_register_form"

.footerContent.intPages.hidden-xs
  =render 'layouts/footer_menu'

.intPages
  =render 'layouts/footer_mobile'

=render 'layouts/header'


