.middletron.mtIndustry
  .header
    =render 'layouts/main_menu'
    .container

      .row
        %h1.text-center Equipo Solarity
        .col-md-3
          .profile.text-center
            =image_tag "http://cdn.cumplo.cl/wp/wp-content/uploads/2013/10/11133744/nicolas-shea1.jpg", class: 'profile-image img-circle', width: '200'

            %p.profile-name.text-center Horacio Melo

            .profile-bio
              asdasdasdasd


        .col-md-4
        .col-md-4
        .col-md-4