.middletron.mtIndustry
  .header
    =render 'layouts/main_menu'
  .wrapper
    .container
      %h1 Quienes Somos

.container.main.intPages
  .col-lg-6
  
    %h1.first Visión
    %p Solarity busca mejorar el acceso energías más limpias y baratas para la sociedad.

    %p Creemos que en algunos años, al menos un 30% de la generación eléctrica será solar. La mejor solución tiene que venir de la micro-generación distribuida, el tener grandes extensiones de terreno para poner paneles no será una opción valida. Nosotros queremos ser parte de está revolución y contribuir en dejar el planeta mejor que como lo encontramos.

    %p.bold Equipo

    %p Horacio Melo
    %p Gerente General de Solarity. Fue parte del equipo de Start-Up Chile como director ejecutivo. Además fue parte de empresas como P&G y LAN Airlines.
    %p Jose Luis Carvallo

    %p Samuel del Sol

  .col-lg-6.intPages
   
    .gallery
      .row
        =image_tag "gal_1.png"
        =image_tag "gal_2.png"
        =image_tag "gal_3.png"
        =image_tag "gal_4.png"
        =image_tag "gal_5.png"
      .row
        =image_tag "gal_6.png"
        =image_tag "gal_7.png"
        =image_tag "gal_8.png"
        =image_tag "gal_9.png"
        =image_tag "gal_10.png"

.container.bigRegister
  .row
    .col-lg-6
      %h1 ¿Te interesa?
      %p.midWidth Llama a uno de nuestros consultores. Ellos responderán tus dudas. O si prefieres déjanos tus datos y te contactaremos.
      =image_tag "arrow.png", class:'pull-right mgTop70 hidden-xs'
    .col-lg-6.orange
      =render "layouts/just_register_form"

.footerContent.intPages.hidden-xs
  =render 'layouts/footer_menu'

.intPages
  =render 'layouts/footer_mobile'

=render 'layouts/header'

