.middletron.mtIndustry
  .header
    =render 'layouts/main_menu'
  .wrapper
    .container
      %h1 Quienes Somos

.container.main.intPages
  .col-lg-6
  
    %h1.first Visión
    %p Solarity busca mejorar el acceso energías más limpias y baratas para la sociedad.

    %p Algún día cercano al menos un 30% de la generación eléctrica será solar, la mejor solución tiene que venir de micro-generación distribuida, el tener grandes extensiones de terreno para poner paneles no será una opción valida. Nosotros queremos ser parte de está revolución y contribuir en dejar el planeta mejor que como lo encontramos.

    %p.bold Equipo

    %p Desde el momento en que tu negocio empiece a producir energía solar PV, tu cuenta de electricidad va disminuir. Además, como se espera que las tarifas eléctricas sigan subiendo, tu ahorro irá en aumento.


.footerContent.intPages.hidden-xs
  =render 'layouts/footer_menu'

.intPages
  =render 'layouts/footer_mobile'

=render 'layouts/header'

