
.middletron.mtIndustry
  .header
    =render 'layouts/main_menu'
  .wrapper
    .container
      %h1 Industrias y gobierno
<div class="item-equipo" data-test="flipInY" data-test-out="flipInY">
								<!-- custom image cropped -->	
																<img class="team-image" src="http://cdn.cumplo.cl/wp/wp-content/uploads/2013/10/11133744/nicolas-shea1.jpg">
								<!-- end custom image cropped -->

								<h2 class="bio-click">
									Nicolás Shea								</h2>


								<div class="bio">
																		<div class="bio-show-img">
										<img src="http://cdn.cumplo.cl/wp/wp-content/uploads/2013/10/11133744/nicolas-shea1.jpg">
									</div>

									<div class="bio-info">
										<h2>Nicolás Shea</h2>
										<p class="bio-rol">Fundador</p>
										<div class="bio-text"><p>Emprendedor. Fundador de Cumplo, Start-Up Chile, Asociación de Emprendedores de Chile (ASECH) y eClass. Presidente de Socialab y director de la Fundación Avonni.<br>
Ingeniero Comercial UC, Master en Educación U.Columbia y Master en Administración U.Stanford.<br>
Casado, 5 hijos.<br>
Estoy en Cumplo para construir una sociedad más justa, en la que las personas paguen lo que corresponda por sus créditos y reciban lo que merecen por sus ahorros.</p>
</div>
										<div class="team-sociales-container">
																					</div><!-- end team-sociales -->
										<div class="team-sociales-container">
																					</div><!-- end team-sociales -->
										<span class="close-bio"><i class="icon-cross"></i></span>
									</div><!-- end bio-info -->

								</div>
							</div>