
.middletron.mtIndustry
  .header
    =render 'layouts/main_menu'
  .wrapper
    .container
      %h1 Quienes Somos
.container.main.intPages
  .col-lg-6

      %h1.first Visión
      %p Solarity nace para disponibilizar la energía solar para todos. Solarity busca mejorar el acceso energías más limpias y baratas para la sociedad. 

      %p Algún día un 30% de la generación eléctrica será solar, la mejor solución tiene que venir de micro-generación distribuida, el tener grandes extensiones de terreno para poner paneles no será una opción valida. Ubicación en techos, tarifas y servicio serán la clave. Nosotros queremos ser un actor fundamental en lograr que la generación eléctrica provenga del sol.

      %span.bold Equipo
       %p Horacio Melo


       