.jumbotron
  .bodyContent
    .header
      =render 'layouts/main_menu'
    .container
      .row.cta
        .col-lg-12
          %h1 Energía solar XXX para su<br>empresa u hogar

  .footerContent
    .container
      .col-lg-12.col-xs-12

        %a.btn.btn-black-trans.hidden-xs.pull-right{href:'#register_form'}
          %i.fa.fa-file-text
          Cotize con nosotros

        %a.btn.btn-black-trans.hidden-lg{href:'#register_form'}
          %i.fa.fa-file-text
          Cotize gratis

.container.main
  .col-lg-6
    %h1 ¿Crees que la energía<br>solar es cara?
    %p
      Con Solarity ya no es necesario que pagues por paneles solares, paga solo por la energía.
    %p
      La energía solar de hecho puede ser más barata que lo que pagas hoy, además de ser predecible y fija en tarifas. Los ahorros pueden ser incluso millones de pesos.
    %p
      Gracias a Solarity ya no necesitas millones para comprar un sistema de paneles solares, solo necesitas un buen techo, porque la instalación, ahora es gratis.
    %hr
    %h1 ¿Te interesa?
    %p Llama a uno de nuestros consultores. Ellos responderán tus dudas. O si prefieres déjanos tus datos y te contactaremos.
    =image_tag "arrow.png", class:'pull-right hidden-xs'
  .col-lg-6.regAndSim
    =render 'layouts/register_form'


#why.bigFooter
  .bodyContent
    .container
      .col-lg-6
        %h1 ¿Por que Solarity?
        %h3 ¡Porque lo hacemos muy simple!
        %p Tu experiencia con nuestro servicio es nuestra prioridad, desde el primer día nuestro equipo se encargará de todo, la instalación puede tomar tan poco como un día y podrás empezar a disfrutar de energía limpia y más barata.
      .col-lg-6 &nbsp;
  .footerContent.hidden-xs
    =render 'layouts/footer_menu'
=render 'layouts/footer_mobile'
=render 'layouts/header'


