=render 'layouts/header'
.middletron.mtIndustry
  .header
    =render 'layouts/main_menu'
  .wrapper
    .container
      %h1 Industrias y gobierno

.container.main.intPages
  .col-lg-6
    %h1.first Productos y servicios
    %p.bold Diseño, Ingeniería, Instalación y Post-Venta
    %p En Solarity una de nuestras principales motivaciones es que nuestro cliente no tenga que hacer nada, es por eso que entregamos un servicio completo y de gran calidad. Nos hacemos cargo no solo del diseño, optimización e instalación del sistema solar PV, si no que que también de todo lo que le pueda pasar durante su vida útil.

    %p Además nos encargamos de todo lo relacionado a la factibilidad técnica del proyecto, evaluamos y diseñamos un sistema hecho a la medida no solo de las necesidades eléctricas si no que además en linea con las especificaciones constructivas del lugar donde se realiza la instalación.

    %p Tenemos una alianza con Kaltemp primera empresa Chilena en instalar, conectar y operar una planta solar de 3 MW en el norte de Chile. Tenemos equipos mixtos que se encargan de asegurar la mejor calidad en la instalación y operaciones de nuestros sistemas solares PV.

    %p Una persona de nuestro equipo se hará cargo y será el responsable de tu proyecto de principio a fin. Es el encargado de manejar la relación con el cliente, supervisar a los equipos de diseño e ingeniería, además de estar en la obra supervisando la instalación y trabajando mano a mano con el cliente, asegurando calidad y entrega a tiempo del proyecto.


    <br>
    %p.bold.midWidth Contáctanos para una cotización y para obtener información adicional de como opera
    =image_tag "arrow.png", class:'pull-right mgTop70 hidden-xs'


  .col-lg-6.intPages
    =image_tag "technic.png", class:'fullWidth'
    =render 'layouts/register_form'

.footerContent.intPages.hidden-xs
  =render 'layouts/footer_menu'

