/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require bootstrap
 *= require font-awesome
 *= require jquery.nouislider
 *= require_tree .
 */

body, html {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  color:#3F3F43 !important;
  font-weight: 400;

  .bold{
    font-weight: 600;
  }

  .italic{
    font-style: italic;
  }

  img.fullWidth{
    width: 100%;
  }

  .midWidth{
    display: inline-block;
    width: 70%;

    @media(max-width:767px){
      width: 100%;
    }
  }

}

.nav-bottom {
  line-height: 50px;
  color: #FFF;

  @media(max-width:767px){
    display: none;
  }

  span.contact{
    &:first-of-type {
      margin-right: 40px;
    }

    img {
      margin-right: 7px;
    }

  }

  a {
    font-size: 20px;
    margin-left: 25px;
    text-decoration: none;
    color: inherit;
    &:hover {
      color:#F15929;
      text-decoration: none;
    }

    &#registerLink{
      margin-left: 40px;
      font-size: 16px;
      opacity:0;
      transition:opacity 0.5s linear;
      cursor: default;

      i{
        color: #F15929;
        font-size: 21px;
        position: relative;
        top: 3px;
        margin-right: 7px;
      }

      &.visible{
        display: inline-block;
        opacity:1;
        -webkit-transition: opacity 2s ease;
        -moz-transition: opacity 2s ease;
        -ms-transition: opacity 2s ease;
        -o-transition: opacity 2s ease;
        cursor: pointer;
      }

    }
  }
}

.jumbotron,.middletron, .bigFooter, .footerContent.intPages {
  background-repeat: no-repeat;
  background-position: center center;
  //background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  height: 740px;
  margin-top: 50px;
  position: relative;
  background-image: image-url('bgCta.jpg');

  @media(max-width:767px){
    height: 530px;
    padding: 0;
    margin:0;
  }

  .header{
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -80px;

    @media(max-width:767px){
      position: fixed;
      width: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, 0.83);
      margin-top: -48px;
    }

    .navbar{
      border-radius: 0;
      border: none;
      min-height: 100px;
      background-color: transparent;
      color:#414243;
      z-index: 1;

      @media(max-width:767px){
        min-height: 77px;
        margin-bottom: 0px;
      }

      .navbar-header {
        @media(max-width:767px){
          border-bottom: 2px solid #000000;
        }
      }

      .navbar-collapse{
        @media(max-width:767px){
          padding-left: 0;
          padding-right: 0;
        }
        ul.nav {
          @media(max-width:767px){
            margin:0 !important;
          }
          li{
            a {
              @media(max-width:767px){
                margin-left: 0 !important;
                padding-top: 10px;
                padding-bottom: 10px;
              }
            }

            &.dropdown.open{
              a {
                background-color: #FFF !important;
              }
            }
          }

        }
      }



      .container {
        margin-top: 25px;

        img.logo{
          margin-top: -15px;
        }

        li {
          @media(max-width:767px){
            background-color: rgba(255, 255, 255, 0.48);
          }

          &.dropdown.open{
            a.dropdown-toggle{
              background-color: rgba(255,255,255,0.9);
            }
          }
        }

        a {
          color: inherit;
          margin:0 38px;

          &.navbar-brand{
            margin-left: 0;
          }

          &:last-of-type{
            margin-right: 0;
          }

          &.dropdown-toggle:hover, &:hover{
            background-color: rgba(255,255,255,0.9);
          }

        }


        ul.dropdown-menu{
          border-radius: 0;
          li{
            a{
              margin: 0 !important;
              border-left: 3px solid transparent;
              &:hover {
                border-left: 3px solid #F15929;
              }
            }
          }
        }



      }

    }
  }

  .bodyContent{
    .container {
      .row.cta {
        position: relative;
        top: 300px;

        @media(max-width:767px){
          position: absolute;
          margin-left: 0px;
          margin-right: 0px;
          width: 100%;
          left: 0;
          top: 330px;
        }
      }

      h1 {
        color:#FFF;
        font-size: 56px;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
        text-align: right;

        @media(max-width:767px){
          font-size: 25px;
        }

      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 270px;
      left: 0;

      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(255,255,255,1)),
        color-stop(1, rgba(255,255,255,0))
      );
      background-image: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background-image: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background-image: -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);

    }

  }

  .footerContent {
    position: absolute;
    width: 100%;

    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(0,0,0,0)),
      color-stop(1, rgba(0,0,0,0.7))
    );
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);

    margin: 0 -30px;
    bottom: 0;
    height: 145px;
    color:#FFF;

    @media(max-width:767px){
      height: 145px;
    }

    .container {
      @media(max-width:767px){
        padding: 0;
      }
    }

    .btn-black-trans,p{
      margin-top: 34px;

      @media(max-width:767px){
        position: absolute;
        top: 61px;
        right: 0px;
      }
    }
    p {
      line-height: 75px;
    }
  }
}

.container.main, .container.bigRegister{
  H1 {
    padding-bottom: 50px;

    @media(max-width:767px){
      padding-bottom: 25px;
    }
  }

  hr {
    margin: 55px 0 45px;
    border-top-style: dotted;

    @media(max-width:767px){
      margin: 25px 0 20px;
    }
  }

  .graphAndRegister{
    display: inline-block;
    background-color: #F15929;
    color:#404143;
    position: relative;
    top: 28px;
    z-index: 1;

    .header{
      padding: 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      color:#fff;

      @media(max-width:767px){
        padding: 20px 20px 5px 20px !important;
      }

      .col-xs-12 {
        @media(max-width:767px){
          padding-bottom: 20px;
        }
      }

      .btn.btn-black {
        @media(max-width:767px){
          width: 100% !important;
        }
      }


    }

    #slider, .simulation {
       height: 200px;
    }

    #infoSlider{
      position: absolute;
      margin-left: 38px;
      //background-color: rgba(0,0,0,0.7);
      background-color: #404143;

      border-radius: 2px;
      padding: 5px 10px;
      color:#FFF;
      top:-15px;
      font-size: 14px;
      //border-color:rgba(0,0,0,0.7);
      border-color:#404143;
      white-space: nowrap;
      &:before{
        content: ' ';
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-right-color: inherit;
        position: absolute;
        left: -20px;
      }
    }

    .simulation {
      border-top: 1px solid #FF7000;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      height: 250px;
      padding: 22px;
      background-repeat: no-repeat;
      background-position: 32px;
      @media (max-width: 767px) { font-size: 17px; }

      .info{
        display: table-cell;
        vertical-align: middle;
        height: 200px;
        font-size: 20px;
        max-width: 200px;

        font-weight: 600;
        font-style: italic;
        color: rgba(66, 46, 46, 0.35);

        @media(max-width:767px){
          height: 75px;
          font-size: 15px;
          max-width: none;
          font-style: italic;
        }

      }

    }

  }
}

.bigRegister {
  margin-top: 50px;
  margin-bottom: 50px;

  .register {
    background-color: #F15929;
    color:#404143;

    @media(max-width:767px){
      padding:15px 15px !important;
    }
  }

  h1 {
    padding-bottom: 20px !important;
    padding-top: 100px;
  }

  & > .row {
    background-color: #F5F5F5;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}

.register {
   border-top: 1px solid #FF7000;
   padding: 15px 25px;

   .fields {

      img {
        padding-bottom: 15px;
        display: inline-block;
        vertical-align: middle;
        &.vaMiddle {
          padding-top: 18px;
        }
      }

      input.form-control {
        font-size: 16px;
        border-radius: 0 !important;
        height: 48px !important;
        margin-bottom:22px;
        border: none;
        box-shadow: none !important;

        &::-webkit-input-placeholder { /* WebKit browsers */
            color:#999999;
            font-style: italic;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:#999999;
            font-style: italic;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:#999999;
            font-style: italic;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color:#999999;
            font-style: italic;
        }
      }

   }

   .footerActions {
      display: inline-block;
      width: 100%;

      .btn {
        height: 48px;
        padding: 0 30px;
      }
   }

}


.bigFooter {
  height: 700px;
  background-image: image-url('bgFooter.jpg');
  position: relative;

  @media(max-width:767px){
    height: 680px;
  }

 .bodyContent{
    color:#FFF;
    h1 {
       padding:50px 0;
    }
    h3{

    }
  }

  .footerContent{
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    height: 145px;

    .navbar{
      border: none;
      min-height: 95px;
      margin-top: 50px;
      margin-bottom: 0;
      background-color: transparent;
      color:#414243;

      img.logo {
        position: relative;
        top: -13px;
      }

      a {
        color:#fff;
        text-decoration: none;

        &:hover {
          background-color: rgba(255,255,255,0.9);
          color:#3F3F43;
        }

        &.dropdown-toggle{
          padding: 15px;
          line-height: 20px;

          &:hover {
            background-color: rgba(255,255,255,0.9);
            color:#3F3F43;
          }
        }

      }

      .btn-group{
        padding-top: 14px;
        &.dropup.open {
          a {
            color:#3F3F43 !important;
            text-decoration: none;
          }
        }
      }

      ul.dropdown-menu{
        border-radius: 0;
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.175);

        li{
          a{
            color:#3F3F43;
            margin: 0 !important;
            border-left: 3px solid transparent;
            &:hover {
              border-left: 3px solid #F15929;
            }
          }
        }
      }
    }
  }
}

.btn{
  border-radius: 2px !important;

  &.btn-primary {
    background-color: #24AAE1;
    border:none;
  }

  &.btn-black-trans{
    background-color: rgba(0,0,0,0.7);
    padding: 25px;
    color: #FFF;
    font-size: 20px;

    @media(max-width:767px){
      padding: 10px 15px;
    }

    &:hover {
      color:#FFF;
    }

    i{
      color: #F15929;
      margin-right: 10px;
    }
  }

  &.btn-black {
    background-color: #404143;
    color:#FFF;

    &:hover {
      color:#FFF;
    }
  }

  &.btn-link {
    color:#404143 !important;
  }

}

/*
.noUi-base {
  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, hsla(0,50%,45%,1)),
  color-stop(1, hsla(100,50%,45%,1))
  );
  background-image: -o-linear-gradient(bottom, hsla(0,50%,45%,1) 0%, hsla(100,50%,45%,1) 100%);
  background-image: -moz-linear-gradient(bottom, hsla(0,50%,45%,1) 0%, hsla(100,50%,45%,1) 100%);
  background-image: -webkit-linear-gradient(bottom, hsla(0,50%,45%,1) 0%, hsla(100,50%,45%,1) 100%);
  background-image: -ms-linear-gradient(bottom, hsla(0,50%,45%,1) 0%, hsla(100,50%,45%,1) 100%);
  background-image: linear-gradient(to bottom, hsla(0,50%,45%,1) 0%, hsla(100,50%,45%,1) 100%);
}

.noUi-handle {
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.6), inset 0 1px 7px rgba(235, 235, 235, 0.6), 0 3px 6px -3px rgba(187, 187, 187, 0.6);
}
*/

.middletron {
  height: 270px;
  margin-top: 34px;
  margin-left: -30px;
  margin-right: -30px;
  padding: 0;

  @media(max-width:767px){
    margin-top: 61px !important;
  }


  .header{
    background-color: rgba(255,255,255,0.7);
    margin-top: -34px;


    .navbar{
      border-radius: 0;
      border: none;
      //min-height: 90px;
      background-color: transparent;
      color:#414243;


      padding-top: 18px;
      min-height: 106px;

      .container {
        margin-top: 25px;

        img.logo{
          margin-top: -15px;
        }

        a {
          color: inherit;
          margin:0 38px;

          &.navbar-brand{
            margin-left: 0;
          }

          &:last-of-type{
            margin-right: 0;
          }
        }


        ul.dropdown-menu{
          li{
            a{
              margin: 0 !important;
              border-left: 3px solid transparent;
              &:hover {
                border-left: 3px solid #F15929;
              }
            }
          }
        }

      }
    }
  }

  h1 {
    font-size: 56px;
    margin: 0;
    padding-top: 30px;
  }

  &.mtIndustry{
    h1 {
      @media(max-width:767px){
        padding-top: 40px;
      }
    }
  }

}





.intPages {
  h1.first {
    padding: 0;
    margin:60px 0;
  }

  p.bold {
    //margin: 30px 0;
    margin: 45px 0 12px;
  }

  img.mgTop70 {
    margin-top: 70px;
  }

  .col-lg-6.intPages{
    padding-top: 90px;

    @media(max-width:767px){
      padding-top: 45px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .graphAndRegister{
      margin-bottom: 30px;
      @media(max-width:767px){
        //margin-bottom: 300px;
      }


    }
  }

}


.footerContent.intPages{
  background-image: image-url('bgFooter.jpg');
  margin: 0 -30px;
  margin-top: 30px;
  bottom: 0;
  height: 165px;
  color:#FFF;

  .btn-black-trans,p{
    margin-top: 34px;
  }
  p {
    line-height: 75px;
  }

  .navbar {
    padding-top: 57px;
    padding-bottom: 58px;
    margin-bottom: 0;
    background: rgba(0,0,0,0.7);
    border: none;

    img.logo {
      position: relative;
      margin-top: -13px;
    }

    a{
      color:#FFF;
      text-decoration: none;

      &:hover {
        background-color: rgba(255,255,255,0.9);
        color:#3F3F43;
      }

      &.dropdown-toggle{
        padding: 15px;
        line-height: 20px;

        &:hover {
          background-color: rgba(255,255,255,0.9);
          color:#3F3F43;
        }

      }
    }

    .btn-group{
      padding-top: 14px;
    }

    ul.dropdown-menu{
      border-radius: 0;
      box-shadow: 0 0px 12px rgba(0, 0, 0, 0.175);

      li{
        a{
          color:#3F3F43;
          margin: 0 !important;
          border-left: 3px solid transparent;
          &:hover {
            border-left: 3px solid #F15929;
          }
        }
      }
    }

  }
}


.row.videos {
  margin-bottom: 30px;

  p {
    font-size: 14px;

    &.bold {
      margin: 5px 0 10px;
    }
  }

  .video{
    iframe {
      @media(max-width:767px){
        width: 290px !important;
        height: 163px !important;
      }
    }
  }
}

.gallery{
  margin-top:35px;
  .row{
    margin-left: 0; margin-right: 0;
    img {
      margin: 0 1px 5px 0;

      @media(max-width:767px){
        margin: 0 7px 10px 0;
        width: 120px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

p.galText {
 font-size: 14px;
}

.navbar{
  .container {
    .row {
      margin-left: 15px;
      margin-right: 15px;

      div[class^="col-lg"]{
        padding-left: 0;
        padding-right: 0;
      }

    }
  }
}

.popover {
  background-color: rgb(170, 170, 170) !important;
  border: none;
  color: #FFF;
  font-style: italic;
  .arrow {
    &:after {
      border-left-color: rgb(170, 170, 170) !important;
    }
  }
}


.bgHome{
  background-image: image-url('bgHome.png');
}
.bgIndustry{
  background-image: image-url('bgEnterprise.png');
}
.mtHome{
  background-image: image-url('mt_home.jpg');
}
.mtIndustry{
  background-image: image-url('mt_industry.jpg');
}

.nav-bottom {
  background-color: #000 !important;
  z-index: 2;

  -webkit-transition: background 2s ease;
  -moz-transition: background 2s ease;
  -ms-transition: background 2s ease;
  -o-transition: background 2s ease;
  transition: background 2s ease;
}

.regAndSim{
  @media(max-width:767px){
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.forTip{
  @media(max-width:767px){
    padding: 27px 0 !important;
  }
}

.xs-mid{
  @media(max-width:767px){
    max-width: 50%;
  }
}

.xs-80{
  @media(max-width:767px){
    max-width: 80%;
  }
}







.middletron{
  margin-left: 0px !important;
  margin-right:0px !important;

  @media(max-width:767px){
    height: 170px !important;
    margin-top: 78px;
  }

  h1 {
    @media(max-width:767px){
      font-size: 35px;
      padding-top: 55px;
    }
  }

  .header{
    @media(max-width:767px){
      position: fixed;
      width: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, 0.83);
      left: 0;
      top: 0;
    }

    .navbar{
      @media(max-width:767px){
        min-height: 77px;
        margin-bottom: 0px;
      }

      .navbar-header {
        @media(max-width:767px){
          border-bottom: 2px solid #000000;
        }
      }

      .navbar-collapse{
        @media(max-width:767px){
          padding-left: 0;
          padding-right: 0;
        }
        ul.nav {
          @media(max-width:767px){
            margin:0 !important;
          }
          li{
            a {
              @media(max-width:767px){
                margin-left: 0 !important;
                padding-top: 10px;
                padding-bottom: 10px;
              }
            }
          }

        }
      }

      .container {
        li {
          @media(max-width:767px){
            background-color: rgba(255, 255, 255, 0.48);
          }
        }

      }

    }
  }
}


.popover-content{
  @media(max-width:767px){
    width: 120px;
  }
}

.intPages{
  .footerMobile{
    .navbar {
      margin-top: 30px;
    }
  }
}

.footerMobile{
  text-align: center;

  .container, .col-xs-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .navbar {
    background-color: rgba(34, 34, 34, 0.88);
    border:none;
    margin-top: -150px;
    height: 150px;
    margin-bottom: 0;
    padding: 10px 0;
  }

  a#registerLink, span.contact{
    color:#888;
    display: block;
    line-height: 30px;
  }

  a#registerLink{
    background-color: #FFF;
    color:#000;
    margin:10px 0 20px;
  }

  .social {
    margin-top:15px;
    a {
      color:#888;
      padding: 0 8px;
      font-size: 30px;
    }
  }
}

.orange {
  background-color: #F15929;
  color:#404143;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
