.footerMobile.hidden-lg
  .navbar.navbar-inverse{role: "navigation"}
    .container
      .row
        .col-xs-12
          %span.contact
            %i.fa.fa-map-marker
            Gertrudis Echeñique 30 Piso 23, Santiago, Chile. &nbsp;
            %i.fa.fa-phone
            (+56 2) 22466930

          -#%a#registerLink{href: "#register_form"}
            %i.fa.fa-file-text
            Cotiza con Solarity

        .col-xs-12.text-center.social
          %a{href:"https://www.twitter.com/SolarityCL" target="_blank", title:'Twitter'}
            %i.fa.fa-twitter
          %a{href:"https://www.facebook.com/solarityenergia", title:'Facebook'}
            %i.fa.fa-facebook-square
          %a{href:"http://solarityblog.com/", title:'Blog'}
            %i.fa.fa-link