.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to root_path, :class => 'navbar-brand' do
        =image_tag "logoWhite.png", class:'logo'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          .btn-group.dropup
            %a.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              %span Para su hogar
              %span.caret
            %ul.dropdown-menu
              %li
                =link_to "Energía solar para tu casa", residencial_path
              %li
                =link_to "¿Cómo funciona?", residencial_como_funciona_path
              %li
                =link_to "Testimonios", testimonios_path
        %li
          .btn-group.dropup
            %a.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              %span Industrias y Gobierno
              %span.caret
            %ul.dropdown-menu
              %li
                =link_to "Ahorro", ahorro_path
              %li
                =link_to "Productos y Servicios", productos_path
              %li
                =link_to "¿Cómo funciona?", industrias_path
              %li
                =link_to "Clientes", clientes_path
        %li
          %a{href: "#register_form"} Cotize gratis con Solarity
        %li
          %a{href: "#"} Términos y Condiciones















