.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    .row
      .col-lg-7
        =image_tag "iconMap.png"
        %span Av. Vitacura 3568 - Of 411    |   Santiago, Chile
        =image_tag "iconPhone.png"
        %span +56 2 222 7825
      .col-lg-5
        .pull-right
          %a{href:"http://www.skype.com/en/"}
            %i.fa.fa-skype
          %a{href:"http://www.youtube.com/channel/solar"}
            %i.fa.fa-youtube
          %a{href:"https://twitter.com/solarityuk"}
            %i.fa.fa-twitter
          %a{href:"https://www.facebook.com/SolarityUK"}
            %i.fa.fa-facebook-square