.navbar.navbar-inverse.nav-bottom{role: "navigation"}
  .container
    .row
      .col-lg-9
        %span.contact
          =image_tag "iconMap.png"
          Gertrudis Echeñique 30 Piso 23 | Santiago, Chile

        %span.contact
          =image_tag "iconPhone.png"
          (+56 2) 22466930

        %a#registerLink{href: "#register_form"}
          %i.fa.fa-file-text
          Cotize con nosotros

      .col-lg-3
        .pull-right
          %a{href:"https://www.twitter.com/SolarityCL", title:'Twitter'}
            %i.fa.fa-twitter
          %a{href:"https://www.facebook.com/solarityenergia", title:'Facebook'}
            %i.fa.fa-facebook-square
          %a{href:"http://solarityblog.com/", title:'Blog'}
            %i.fa.fa-link
