.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"}
        =image_tag "logo.png", class:'logo'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active
          %a{href: "./"} Para su hogar
        %li
          %a{href: "../navbar-static-top/"} Para empresas
        %li
          %a{href: "../navbar-fixed-top/"} ¿Porque Solarity?
        %li
          %a{href: "../navbar-fixed-top/"} Cotización