.graphAndRegister
  .header
    .row
      .col-lg-12.col-xs-12
        ¿Cuanto pagas en electricidad mensualmente?

  .simulation.bgIndustry
    .col-lg-6.col-xs-12
      #slider
      #infoSlider
    .col-lg-6.col-xs-12.forTip
      .info#tip
  =render "layouts/just_register_form"