.graphAndRegister
  .header
    ¿Cuanto pagas en electricidad?
    .pull-right
      %a#enterprise.btn.btn-black Industrial
      %a#home.btn.btn-link Residencial
  .simulation
    .col-lg-6
      #slider
      #infoSlider
    .col-lg-6
      .info#tip
  =render "layouts/just_register_form"