.graphAndRegister
  .header
    ¿Cuanto pagas en electricidad?
    .pull-right
      %a#enterprise.btn.btn-black Industrial
      %a#home.btn.btn-link Residencial
  .simulation
    .col-lg-6
      #slider
      #infoSlider
        Vehicula
        %span#span1
        Egestas
        %span#span2
    .col-lg-6
      .info
        Mientras más gastas más te podemos ayudar a ahorrar
  =render "layouts/just_register_form"